<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>顏愷升的簡介</title>

	<style type="text/css">
		* { 
			font-family: "標楷體"; }

		header { 
			font-size: 36px;
			color: #55ff55; }
	</style>

</head>
<body>
	<nav>
		<ul>
			<li><a href="#aboutme">關於我</a></li>
			<li><a href="#bookmark">珍藏書籤</a></li>
			<li><a href="#youtube">推薦影片</a></li>
		</ul>		
	</nav>

	<main>
		<nav>
			<h1>顏愷升<h1>
			<h2><a href="https://www.pu.edu.tw">靜宜大學</a>/<a href="https://csim.pu.edu.tw">資訊管理</a><h2>
		</nav>	
		
		<img src='../static/me.jpeg' width="20%" height="30%">



		<br><br><br>

		<div class="row">
			<session id ="aboutme" class="col-lg-4">
				<header>關於我</header>
				<h3>顏愷升<h3>
				<h3>學號：411025198<h3>
				<h3>大學：靜宜大學<h3>
				<h3>系級：資訊管理系大二B班<h3>
				<h3>聯絡郵件：<a href="malito:s1102519@gm.pu.edu.tw">s1102519@gm.pu.edu.tw</a><h3>
			</session>

			<article id ="bookmark" class="col-lg-4">
				<header>珍藏書籤</header>
				<h3>現在累，是為了以後的輕鬆<h3>
			</article>

			<aside id ="youtube" class="col-lg-4">
				<header>推薦影片</header>
					<iframe src="https://www.youtube.com/embed/IFhDZgm2hvA" allowfullscreen></iframe>
			</aside>	
		</div><br><br>	
	</main>
	




</body>
</html>
