<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>楊子青簡介</title>
</head>
<body>
	<h1>MIS相關工作介紹<h1>
	<main>
		<nav>
			<h1>健椿工業股份有限公司<h1>
			<h2>資訊專員<h2>
		</nav>	
		<session id ="aboutme">
			<header>工作內容</header>

				<h4>1.電子簽核系統表單開發、維護及問題處理<h4>
				<h4>2.電子簽核系統內部教育訓練<h4>
				<h4>3.企業資訊環境及資源管理程式開發及維護（ERP、MES)<h4>
				<h4>4.報表系統開發(web form or window form)<h4>
				<h4>5.ERP與異質系統介接和維護<h4>
				<h4>6.主管交辦事項<h4>
		</session>
		
		<article id= "gongzuo">
			<header>詳情</header>
				<h3>職務類別:<h3>
				<h4>軟體設計工程師 、Internet程式設計師 、電玩程式設計師<h4>
				<h3>工作待遇:<h2>
				<h4>待遇面議 （經常性薪資達 4 萬元或以上）<h4>
				<h3>工作性質:<h3>
				<h4>全職<h4>
				<h3>上班地點	:<h3>
				<h4>彰化縣線西鄉線工路1號 (彰濱工業區)<h4>
				<h3>管理責任	:<h3>
				<h4>不需負擔管理責任<h4>
				<h3>出差外派	:<h3>
				<h4>無需出差外派<h4>
				<h3>上班時段:<h3>
				<h4>日班，08:00-17:00<h4>
				<h3>休假制度:<h3>
				<h4>週休二日<h4>
				<h3>可上班日:<h3>
				<h4>兩週內<h4>
				<h4>需求人數:<h4>
				<h4>1人<h4>
		</article>			
		<br><br><br>
</body>
</html>
